@charset 'utf-8';
@import "settings";
@import "foundation";
@import "motion-ui";
@include foundation-global-styles;
@include foundation-grid;
@include foundation-typography;
@include foundation-breadcrumbs;
@include foundation-visibility-classes;
@include foundation-float-classes;

.clearfix {
  @include clearfix;
}

// Globals
.outer {

}
.section {
  max-width: 100%;
  margin: 0 auto;

}
.page-warp {
  max-width: (1240);
  margin: 0 auto;
}


// header
// Menu Button

.menu-button {
  padding: rem-calc(12);
  display: inline-block;
  cursor: pointer;
  font: inherit;
  color: $white;
  text-transform: none;
  background-color: $dark-blue;
  border: 0;
  margin: 0;
  overflow: visible;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }

  &:focus,
  &:hover {
    .menu-button-box {
      transform: scale(1.2);
    }
  }

  &:focus {
    background:$dark-blue;
  }
}

.menu-button-box {
  width: rem-calc(30);
  height: rem-calc(24);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
}

.menu-button-label {
  display: inline-block;
  margin-left: rem-calc(8);
  vertical-align: middle;
}

.menu-button-inner {
  display: block;
  top: 50%;
  margin-top: rem-calc(-2);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    width: rem-calc(30);
    height: rem-calc(4);
    background-color: $white;
    border-radius: rem-calc(4);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: rem-calc(-10);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(-10);
    transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
.js {
  #main-menu {
    display: none;
  }
}


//Hauptnavigation
.main-nav{

  background: $light-blue;
}
