@charset 'utf-8';
@import "settings";
@import "mixins";
@import "foundation";
@include foundation-global-styles;
@include foundation-typography;
@include foundation-forms;
@include foundation-visibility-classes;
@include foundation-float-classes;

*,
* ::after,
* ::before {
  box-sizing: border-box;
}

%clearfix {
  @include clearfix();
}
//Layout

.outer {
  max-width: 100%;
  overflow: hidden;
}

.section {
  max-width: $global-width;
  margin: 0 auto;
}

.page-wrap {
  max-width: rem-calc(1280);
  margin: 0 auto;
}
// Farben

.peach {
  background: $peach;
}
.headline-peach {
  color: $peach;
}
.green {
  background: $green;
}
.white {
  background: $white;
}
.blue {
  background: $blue;
}
.dark-blue {
  color: $dark-blue;
}

img {
  width: 100%;
  height: auto;
}
//Header
// Menu Button

.menu-button {
  display: block;
  cursor: pointer;
  position: absolute;
  padding: $grid-column-gutter/4;
  background-color: $blue;
  left: 0;
  top: 0;

  &.active {
    .menu-button-inner {
      transform: rotate(225deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.1s ease-out,
          transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

.menu-button-box {
  width: rem-calc(55);
  height: rem-calc(55);
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: transform 0.25s;
}

.menu-button-label {
  color: $dark-blue;
  vertical-align: middle;
  display: block;
}

.menu-button-inner {
  display: block;
  top: 100%;
  margin-top: rem-calc(-40);
  transition-duration: 0.22s;
  transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

  &,
  &::after,
  &::before {
    width: rem-calc(55);
    height: rem-calc(5);
    background-color: $dark-blue;
    border-radius: rem-calc(1);
    position: absolute;
    transition-property: transform;
    transition-duration: 0.15s;
    transition-timing-function: ease;
  }

  &::after,
  &::before {
    content: "";
    display: block;
  }

  &::before {
    top: rem-calc(11);
    right: rem-calc(0);
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
  }

  &::after {
    bottom: rem-calc(11);
    right: rem-calc(0);
    transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
}
@include breakpoint(xxlarge) {
  .menu-button {
    display: none;
  }
}

// Hauptnavigation

#main-menu {
  list-style-type: none;
  margin: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: $grid-column-gutter * 1.85;
  background: $blue;
  z-index: 1000;

  a {
    display: block;
    color: $dark-blue;
    padding: $grid-column-gutter/6;
    font-size: rem-calc(18);
  }
}

#main-menu .sub-menu {
  list-style-type: none;

  a {
    color: $dark-blue;
    background: $blue;
    &:hover,
    &:focus {
      background: $dark-blue;
      color: $white;
    }
  }
}

@include breakpoint(xxlarge) {
  #main-menu {
    width: 30%;
    top: 0;
    display: block !important ;
    padding:0 $grid-column-gutter;
    a {
      font-size: rem-calc(30);
      padding-top: $grid-column-gutter/8;
      padding-bottom: $grid-column-gutter/8;
    }
  }

  .sub-menu {
    margin-right: $grid-column-gutter/4;
  }
}
// Logo

.logo {
  margin-left: $grid-column-gutter * 1.5;
  display: block;
  padding: $grid-column-gutter / 4 0;

  img {
    width: rem-calc(250);
    height: auto;
  }
}

@include breakpoint(xlarge) {
  .logo {
    width: rem-calc(400);
    margin: 0 auto;
    text-align: center;
    img {
      width: 100%;
      height: auto;
    }
  }
}
// Main
// Layout

.main .section {
  &:first-of-type {
    background: $light-blue;
  }
}
@include breakpoint(xlarge) {
  .main .section {
    .wp-block-columns {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
//Breadcrumb

.breadcrumb {
  display: none;
}
@include breakpoint(xlarge) {
  .breadcrumb {
    padding: $grid-column-gutter/6;
    display:block;

    span {
      font-size: rem-calc(18) * 0.85;
      color: $black;
    }

    ul {
      list-style-type: none;
      margin: 0;
      display: inline-block;
      font-size:rem-calc(18);
    }

    li {
      display: inline-block;
      position: relative;
    }

    a {
      padding-right: $grid-column-gutter/2;
      position: relative;
      color: $black;

      &:focus,
      &:hover {
        text-decoration: none;
      }
    }

  li span{
      &:after {
          content: "»";
      }
      margin: 0 rem-calc(7);
      position: absolute;
      top: 0;
      right: rem-calc(10);

    }
  }
}
//Boxen
.box {
  padding: $grid-column-gutter / 4;

  a {
    padding: $grid-column-gutter/2 $grid-column-gutter/4 0;
    display: block;
    position: relative;
    margin-left: -$grid-column-gutter/4;
    margin-right: -$grid-column-gutter/4;
    margin-bottom: -$grid-column-gutter/4;
    text-decoration: none;
  }

  .symbol {
    width: rem-calc(60);
    height: rem-calc(60);
    position: absolute;
    top: $grid-column-gutter / 3.2;
    right: $grid-column-gutter / 4;
  }
}

.head-box {
  background: $dark-blue;
  display: flex;
  flex-flow: column;

  .h-head {
    order: 2;
    color: $white;
  }

  .h-category {
    order: 1;
    color: $white;
  }
}

.content-box {
  ul {
    margin: 0;
  }

  li {
    display: block;
    padding: $grid-column-gutter / 4;
    margin-left: -$grid-column-gutter / 4;
    margin-right: -$grid-column-gutter / 4;

    &:nth-child(odd) {
      background: $blue;
    }

    &:before {
      content: "»";
      margin-right: rem-calc(10);
    }
  }
}

.teaser-box {
  &.t-peach {
    border-bottom: solid $peach rem-calc(4);
  }
}
.info-box {
}

@include breakpoint(xlarge) {
}

#quote {
  border: none;
  padding: $grid-column-gutter * 2 $grid-column-gutter/4;
  p {
    color: $dark-blue;
    margin: 0;
    cite {
      &:before {
        display: none;
      }
    }
  }
}

@include breakpoint(large) {
  #quote {
    p {
      font-size: rem-calc(30);
      cite {
        font-size: rem-calc(22);
      }
    }
  }
}
.footer {
  padding-top: $grid-column-gutter;
}
.footer .wp-block-columns {
}

.footer .wp-block-column {
  padding: $grid-column-gutter/4;
  p {
    font-size: rem-calc(20);
  }
  a {
    font-size: rem-calc(20);
    color: $black;
    &:hover,
    &:focus {
      text-decoration: none;
      background: $dark-blue;
      color: $white;
    }
  }
}

//footer navigationen
#footer-main-menu {
  list-style: none;
  margin: 0;
  margin-left: -$grid-column-gutter/4;
  margin-right: -$grid-column-gutter/4;
  a {
    display: block;
    padding: $grid-column-gutter/8 $grid-column-gutter/4;
    &:hover,
    &:focus {
      text-decoration: none;
      background: $dark-blue;
      color: $white;
    }
  }
}

#footer-service-menu {
  list-style: none;
  margin: 0;
  margin-left: -$grid-column-gutter/4;
  margin-right: -$grid-column-gutter/4;
  a {
    display: block;
    padding: $grid-column-gutter/8 $grid-column-gutter/4;
    &:hover,
    &:focus {
      text-decoration: none;
      background: $dark-blue;
      color: $white;
    }
  }
}

@include breakpoint(xlarge) {
  .footer .wp-block-columns {
    display: flex;
    flex-wrap: wrap;
  }
  .footer .wp-block-column {
    width: 33%;
  }
}
.copyright {
  padding: $grid-column-gutter $grid-column-gutter/4 $grid-column-gutter/4;
  p {
    margin: 0;
  }
}
